scipy==1.4.1
spacy==2.3.2
tqdm==4.43.0
Keras==2.3.1
waiting==1.4.1
ekphrasis==0.5.1
pandas==1.0.3
transformers==2.5.1
lime==0.2.0.1
numpy==1.16.3
matplotlib==3.2.1
gensim==3.8.1
neptune_client==0.4.107
knockknock==0.1.7
torch==1.1.0
apex==0.9.10dev
dataclasses==0.8
GPUtil==1.4.0
scikit_learn==0.23.2
